@use "sass:list";

/* ============================================
   Colors Map 
   ============================================ */

$colors: (
  0: #8782d5,
  1: #fcc729,
  2: #ff8847,
  3: #c0c033,
  4: #a8324e,
  5: #32a8a2,
  6: #327ba8,
  7: #3244a8,
  8: #5a32a8,
  9: #a832a4,
  10: #75743d,
  11: #c2068a,
  12: #c28d06,
  13: #a2c206,
  14: #3bc206,
  15: #108f7c,
  16: #10278f,
  17: #51108f,
  18: #118f22,
  19: #620878,
  20: #40690a,
  21: #81f4cf,
  22: #09aa1d,
  23: #60d3e1,
  24: #8de149,
  25: #74db6c,
  26: #47216b,
  27: #447804,
  28: #933862,
  29: #7ff932,
  30: #2a7626,
  31: #b6065f,
  32: #52e6d3,
  33: #c8b062,
  34: #a749b7,
  35: #c1e87c,
  36: #13249d,
  37: #01c40b,
  38: #2e6332,
  39: #70ae19,
  40: #b3524c,
);

/* ============================================
   CSS Variable Export (readable from TS)
   ============================================ */
:root {
  /* Declare the total number of colors */
  --color-count: #{list.length($colors)};

  @each $key, $value in $colors {
    --color-#{$key}: #{$value};
  }
}

/* ============================================
   Dynamic .bg-X Class Create
   ============================================ */
@each $key, $value in $colors {
  .bg-#{$key} {
    background-color: var(--color-#{$key}) !important;
  }

  .color-#{$key} {
    color: var(--color-#{$key}) !important;
  }

  .fill-#{$key} {
    fill: var(--color-#{$key}) !important;
  }

  .borderColor-#{$key} {
    border-color: var(--color-#{$key}) !important;
  }

  .borderBottom-#{$key} {
    border-bottom: 5px solid var(--color-#{$key}) !important;
  }
}